.navbar{
    background-color: transparent;
    color: #eeeeee;
    font-family: 'OpenSauceOne-SemiBold';
    font-size: 1.15em;
    
  }
  
  #nav-container{
    display: flex;
    background-color: black;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .leftpart{
    display: flex;
    gap: 40px;
    margin-right: 100px;
    transition: 0.3s ease-in-out;
  }
  
  .leftpart li{
    text-decoration: none;
    list-style-type: none;
    margin-right: 40px;
    transition: 0.3s ease-in-out;
  }
  
  .nav-links:hover{
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: white;
    text-shadow:
      0 0 0px #fff,
      0 0 5px #fff,
      0 0 12px #fff,
      0 0 21px #fff;
  }
  
  .nav-links{
    color: #b8b8b8;
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }
  
  .midpart img{
    width: 65px;
    transition: 0.3s ease-in-out;
  }
  
  .rightpart{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 50px;
    margin-left: 350px;
  }
  
  .wallet{
    color: #b8b8b8;
    text-decoration-line: none;
    transition: 0.2s ease-in-out;
  }
  
  .wallet:hover{
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: white;
    text-shadow:
      0 0 0px #fff,
      0 0 5px #fff,
      0 0 12px #fff,
      0 0 21px #fff;
  }
  
  .socials{
    display: flex;
    gap: 25px;
  }
  
  .midpart img:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
  }

  .socials a{
    transition: 0.3s ease-in-out;
  }

  .socials a:hover{
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
  }
  
  .socials img{
    width: 38px;
  }
  
  .menu button{
    background-color: transparent;
    border: none;
    transition: all 0.3s ease-out;
  }
  
  .menu svg{
    display: none;
    color: white;
  }
  
  .navbar #hidden{
    display: flex;
  }
  
  #hidden-wallet{
    display: none;
    transition: 0.2s ease-out;
  }
  
  #hidden-wallet:hover{
    background-color: gray;
    border-color: gray;
    color: white;
    transition: 0.2s ease-in-out;
  }
  
  .menu button{
    transition: 0.2s ease-in-out;
    animation: fadeIn;
    animation-duration: 0.2s;
  }
  
  #fade-out{
    animation: fadeOutLeft;
    transition: opacity 1s ease;
  }


  @media screen and (min-width: 3000px) {

    .navbar .midpart img{
      width: 150px;
    }

    .navbar .nav-links{
      font-size: 1.4em;
    }

    .navbar .wallet{
      font-size: 1.4em;
    }

    .navbar .leftpart{
      margin-right: -100px;
      margin-left: -400px;
      gap: 100px;
    }
    .navbar .rightpart{
      margin-left: 190px;
      gap: 100px;
    }

    .navbar .socials img{
      width: 70px;
      margin-top: 5px;
    }

    .navbar .socials{
      gap: 50px;
    }
  }

  @media screen and (min-width: 2000px) {
    #nav-container{
      justify-content: space-between;
    }

    .midpart img{
      width: 100px;
      position: absolute;
      top: 10%;
      left: 48%;
    }

    .navbar{
      font-size: 1.7em;
    }

    .leftpart{
      margin-right: 100px;
      /* margin-left: -450px; */
    }
    .rightpart{
      margin-right: 150px;
    }

    .socials img{
      width: 50px;
      margin-top: 5px;
    }
  }


  @media screen and (max-width: 1700px) {
    .midpart img{
      width: 70px;
    }
    
    .leftpart{
      margin-right: -10px;
      margin-right: 150px;
      gap: 10px;
    }
    
    .rightpart{
      margin-left: -1px;
      margin-left: 280px;
    }
  }

  @media screen and (max-width: 1600px) {
    .navbar{
      font-size: 0.9em;
    }
    .leftpart{
      margin-right: -10px;
      margin-right: 100px;
      gap: 10px;
    }
    
    .rightpart{
      margin-left: -1px;
      margin-left: 220px;
    }
    .midpart img{
      width: 50px;
    }
  
    .icon {
      width: 15px;
    }

    .socials img{
      width: 25px;
      margin-top: 5px;
    }
  }

  @media screen and (max-width: 1250px) {
      .nav-links{
        font-size: 0.7em;
      }
      
      .wallet{
        font-size: 0.7em;
      }

      .leftpart{
        margin-right: 30px;
        gap: 5px;
      }
      
      .rightpart{
        margin-left: -1px;
        margin-left: 120px;
      }

      .midpart img{
        width: 40px;
      }
  }
  
  
  @media screen and (max-width: 1000px) {
    
    .menu svg{
      display: flex;
      margin-left: 1px;
      margin-top: 10px;
      margin-right: 60px;
    }
    
    .navbar .menu, .navbar .midpart{
      margin-top: -30px;
    }
    
    #hidden-wallet {
      display: flex;
      border: solid white 1.5px;
      background-color: white;
      color: black;
      margin-top: 70px;
      padding: 10px 20px;
      border-radius: 50px;
    }
  
    #hover-left{
      transition: 0.3s ease-in-out;
    }
    
    #hover-left:hover{
      margin-left: 30px;
      transition: 0.3s ease-in-out;
    }

    .midpart img{
      width: 150px;
      margin: -25px 0px -40px -180px;
      margin-left: 100px;
      margin-right: 5px;
    }
  
    #nav-container{
      display: flex;
      justify-content: space-between;
      align-content: center;
      background-color: black;
      padding-bottom: 0px;
      /* background: rgba(0, 0, 0, 0.5); */
    }
   
    .leftpart{
      display: none;
    }
  
    .rightpart{
      display: none;
    }
  
    .navbar #hidden{
      position: absolute;
      left: 0;
      padding-left: 40px;
      top: 50px;
      padding-top: 120px;
      height: 100vh;
      width: 100%;
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.2em;
      gap: 40px;
      transition: 0.3s ease-in-out;
      overflow: scroll;
      z-index: 1;
    }
    #hidden{
      animation: slideInLeft; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 0.5s; /* don't forget to set a duration! */
      transition: all 0.3s ease-in-out;
    }
  
    #fade-out{
      animation: slideOutRight;
      animation-duration: 0.5s;
    }

    .midpart img:hover{
      transform: scale(1);
      transition: 0.3s ease-in-out;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .menu svg{
      display: flex;
      margin-left: 1px;
      margin-top: 10px;
      margin-right: 60px;
    }
    
    .navbar .menu, .navbar .midpart{
      margin-top: -30px;
    }
    
    #hidden-wallet {
      display: flex;
      border: solid white 1.5px;
      background-color: white;
      color: black;
      margin-top: 70px;
      padding: 10px 20px;
      border-radius: 50px;
      overflow: scroll;
    }
  
    #hover-left{
      transition: 0.3s ease-in-out;
    }
    
    #hover-left:hover{
      margin-left: 30px;
      transition: 0.3s ease-in-out;
    }

    .midpart img{
      width: 120px;
      margin: -25px 0px -40px -180px;
      margin-left: 0px;
      margin-right: 0;
    }
  
    #nav-container{
      display: flex;
      justify-content: space-between;
      align-content: center;
      background-color: black;
      padding-bottom: 0px;
      /* background: rgba(0, 0, 0, 0.5); */
    }
   
    .leftpart{
      display: none;
    }
  
    .rightpart{
      display: none;
    }
  
    .navbar #hidden{
      position: absolute;
      left: 0;
      padding-left: 40px;
      top: 50px;
      padding-top: 120px;
      height: 100vh;
      width: 100%;
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.2em;
      transition: 0.3s ease-in-out;
      overflow: scroll;
      z-index: 1;
    }
    #hidden{
      animation: slideInLeft; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 0.5s; /* don't forget to set a duration! */
      transition: all 0.3s ease-in-out;
    }
  
    #fade-out{
      animation: slideOutRight;
      animation-duration: 0.5s;
    }

    .midpart img:hover{
      transform: scale(1);
      transition: 0.3s ease-in-out;
    }
  }

  @media screen and (max-width: 320px) {
    .midpart img{
      margin-left: 0;
    }
  }

  @media screen and (max-width: 260px) {
    .midpart img{
      margin-left: -100px;
    }
  }